*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --site_bg_color:#030408;
    --site_man_fron-color:#fff;
    --login_from_bg_color:#12121A;
    --login_from_btn_color:#E7B86D;
   

}